* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 7% 93%;
    grid-template-columns: 50% 50%;
}

div.navbar {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    padding: 2rem;
    display: flex;
    align-items: baseline;
    gap: 0.2rem;
    border-bottom: 1px solid whitesmoke;
}

div.navbar > p.name {
    font-size: 2rem;
    font-weight: bold;
}

div.navbar div.dot {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: #912543;
}

div.main {
    width: 100%;
    height: 100%;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

div.line {
    width: 80%;
    height: 0.2rem;
    background-color: #912543;
    margin-bottom: 5rem;
}

div.intro {
    margin-top: 5rem;
    margin-left: 10rem;
}

div.intro p.header {
    font-size: 6rem;
}

div.intro p.sub {
    font-size: 1.3rem;
}

p.sub > a {
    text-decoration: none;
    color: #912543;
    cursor: pointer;
}

p.sub > a:hover {
    text-decoration: underline;
}

div.resume {
    margin-top: 2rem;
    margin-left: 10rem;
    padding: 1rem;
    text-align: center;
    background-color: #912543;
    width: 10rem;
}

div.resume > a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

div.bio {
    margin-top: 2.5rem;
    margin-left: 10rem;
}

div.bio > p.header {
    font-weight: bold;
    font-size: 1.7rem;
    text-decoration: underline;
}

div.bio p.text {
    margin: 1rem 5rem 0 0;
    line-height: 1.8rem;
    font-size: 1.2rem;
}

div.bio span {
    color: #EE6C4D;
}

div.contacts {
    width: 50%;
    height: 20%;
    position: absolute;
    bottom: 0;
    background-color: whitesmoke;
    padding-left: 10rem;
    display: flex;
    align-items: center;
}

div.contacts > p.header {
    font-size: 1.5rem;
    font-weight: bold;
    color: #192A51;
    margin-bottom: 1rem;
}

div.icons {
    width: 100%;
    display: flex;
    gap: 1rem;
}

div.icon {
    border-radius: 50%;
    padding: 1.5rem;
    background-color: #192A51;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

div.icons svg {
    height: 30px;
    width: 30px;
    color: #912543;
}

div.image {
    background-image: url('./photos/image.jpeg');
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}


@media (max-width: 767px) {

    div.navbar {
        height: 8%;
        padding-bottom: 2.5rem;
        border-bottom: 2px solid #912543;
    }

    body {
        grid-template-columns: 1fr;
        grid-template-rows: none;
    }

    div.image {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        margin-top: 0.5rem;
        border-radius: 50%;
        height: 25rem;
        width: 25rem;
        align-self: top;
        justify-self: center;
    }

    div.main {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        height: auto;
    }

    div.line {
        display: none;
    }

    div.intro {
        margin-left: 5rem;
    }

    div.intro p.header {
        font-size: 4rem;
    }

    div.resume {
        margin-left: 5rem;;
    }

    div.bio {
        margin-left: 5rem;
    }

    div.contacts {
        position: static;
        margin-top: 2rem;
        width: 100%;
        padding-left: 5rem;
    }
}